*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/assets/static/js/app.e5afcdb771a220afa8d7.js.map
app/src/main/assets/static/js/app.e5afcdb771a220afa8d7.js
app/src/main/assets/static/js/app.375b7906e3456b6aade3.js.map
app/src/main/assets/static/js/app.375b7906e3456b6aade3.js
app/src/main/assets/static/css/app.22afefe0dca628acee0685c99657a9ca.css.map
app/src/main/assets/static/css/app.22afefe0dca628acee0685c99657a9ca.css
app/release/水质监测.apk
app/release/output.json
app/src/main/assets/static/js/vendor.d1f1607e7ebd2fec6776.js.map
app/src/main/assets/static/js/vendor.d1f1607e7ebd2fec6776.js
app/src/main/assets/static/js/app.4a194a131ecaf672a09c.js.map
app/src/main/assets/static/js/app.4a194a131ecaf672a09c.js
app/src/main/assets/static/js/app.298ed8ee66446853145e.js.map
app/src/main/assets/static/js/app.298ed8ee66446853145e.js
app/src/main/assets/static/js/app.18b2f39db94c3266ebe7.js.map
app/src/main/assets/static/js/app.18b2f39db94c3266ebe7.js
app/release/app-release.apk
